@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
}

.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; 
  }
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}

.slider-item__info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  margin-bottom: 48px;
}

.slider-item__info-subtitle {
  margin-bottom: 5px;
}

.slider-item__info-subtext {
  margin-bottom: 8px;
}

.slider-item__info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}

.slider-arrow {
  cursor: pointer;
  position: absolute;
  z-index: 4;
  top: 40px;
}

.slider-arrow__right {
  right: 80px;
}

.slider-arrow__left {
  right: 125px;
}

.slider-dots__head {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  .slick-current {
    .dots-box {
      border-top-color: $main-color;
    }
  }
}

.dots-box {
  width: 200px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
  
  &__number {
    font-weight: 800;
    font-size: 24px;
    line-height: 34px;
  }

  &__name {
    font-weight: 300;
    line-height: 19px;
    text-transform: capitalize;
  }
}

.header__aside {
  height: 100vh;
  text-align: center;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  border-right: 1px solid rgba(#fff, .25);
}

.header__title {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  max-width: 467px;
  font-weight: 800;
  font-size: 200px;
  line-height: 200px;
  opacity: 0.07;
}

.menu {
  li {
    margin: 20px;
  }
  a {
    span {
      padding-top: 6px;
      display: block;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 3px;
      text-transform: capitalize;
    }
  }
}

.header__search {
  margin: 15px 0 35px;
}

.header__date {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 72px;
  line-height: 72px;
  span {
    padding-top: 15px;
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.4px;
  }
}

.header__location {
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  position: relative;
  padding-left: 19px;
  text-transform: capitalize;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 11px;
    height: 13px;
    background-image: url('../img/marker.svg');
  }
}

.header__map {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
}

.header__arrows {
  position: absolute;
  z-index: 3;
  left: 210px;
  bottom: 30px;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.surf {
  background-image: url('../img/surf-bg.png');
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: auto;

  &__subtitle {
    margin-top: -86px;
    padding-right: 80px;
    text-align: right;
  }
}

.surf-slider {
  padding-top: 110px;

  .slider-arrow {
    top: 50px;
    opacity: 0.25;
    transition: opacity .2s;
    &:hover {
      opacity: 1;
    }
  }

  .slick-slide:nth-child(4n + 1) {
    .surf-box {
      margin-top: 32px;
    }
  }

  .slick-slide:nth-child(4n + 3) {
    .surf-box {
      margin-top: 89px;
    }
  }

  .slick-current {
    .surf-box__inner-btn {
      opacity: 1;
    }
    .surf-box__inner {
      background: rgba(#1C2121, .3);
    }
  }

}

.surf-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    min-height: 750px;
    background: rgba(#1C2121, .85);
    position: relative;
    transition: background .5s;

    &:hover {
      background: rgba(#1C2121, .3);
      .surf-box__inner-btn {
        display: block;
        opacity: 1;
      }
    }

    &-title {
      padding: 72px 0 0 40px;
      width: 140px;
      font-weight: 800;
      font-size: 40px;
      line-height: 40px;
    }

    &-location {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 8px;
      transform: rotate(-90deg);
      // transform-origin: 0 100%;
      position: absolute;
      left: 40px;
      bottom: 80px;
      width: 0;
      height: 0;
      white-space: nowrap;

      span {
        font-weight: 100;
      }
    }

    &-btn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      opacity: 0;
      transition: opacity .5s;
    }
  }
}

.slider-map {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 635px;
  background-image: url('../img/world-map.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .slick-list {
    min-height: 635px;
  }

  .slick-current {
    .slider-dots__content {
      visibility: visible;
    }
  }
}

.slider-dots {
  position: relative;
  cursor: pointer;

  &--1 {
    top: 335px;
    left: 0;

    .slider-dots__content {
      transform: translateX(0);

      &::before {
        left: 0;
      }

    }

  }

  &--2 {
    top: 270px;

    .slider-dots__circle {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: -15px;
        top: -15px;
        background-image: url('../img/mini-marker.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 14px;
        height: 17px;
      }

    }

  }

  &--3 {
    top: 330px;
    left: 25px;
  }

  &--4 {
    top: 470px;
    left: -25px;
  }

  &--5 {
    top: 230px;
    left: -65px;
  }
  
  &--6 {
    top: 550px;
    left: -120px;
  }

  &--7 {
    top: 375px;
    left: -95px;
  }

  &--8 {
    top: 470px;
    left: 35px;

    .slider-dots__content {
      transform: translateX(-262px);

      &::before {
        left: auto;
        right: 0;
      }

    }

  }

  &__circle {
    width: 23px;
    height: 23px;
    border-radius: 24px;
    background-color: $main-color;
    box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
  }

  &__content {
    width: 285px;
    padding: 30px 30px 0 30px;
    background: rgba(#0F1010, .7);
    mix-blend-mode: normal;
    visibility: hidden;
    border-radius: 6px;
    transition: visibility .2s;
    position: absolute;
    bottom: 35px;
    transform: translateX(-50%);

    &::before {
      content: '';
      position: absolute;
      bottom: -21px;
      left: 50%;
      width: 0;
      height: 0;
      border-bottom: 20px solid $main-color;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
    &-row {
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
    }

    &-item {
      text-align: center;

      img {
        margin: 0 auto 7px;

      }
    }

    &-title {
      padding-bottom: 8px;
      margin-bottom: 8px;
      position: relative;
      font-weight: 800;
      font-size: 18px;
      line-height: 26px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: $main-color;
        width: 80px;
        height: 1px;
      }

    }

    &-subtitle {
      font-size: 16px;
      line-height: 19px;
      text-transform: capitalize;
    }

    &-link {
      display: inline-block;
      padding-top: 4px;
      img {
        width: 17px;
        height: 14px;
      }
    }

    &-number {
      font-weight: 800;
      font-size: 16px;
      line-height: 23px;
    }

    &-name {
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;      
    }

  }

}

.travel {
  background-image: url('../img/travel-bg.png');
  background-position: right bottom;
  background-repeat: no-repeat;

  .slider-arrow {
    top: 225px;
    opacity: 0.25;
  }

  &-slider {
    &__head {
      background-repeat: no-repeat;
      background-position: top left;
      min-height: 780px;
    }
    &__descr {
      margin-top: -230px;
      padding: 160px 0 0 132px;
      min-height: 320px;
      background-repeat: no-repeat;
      background-position: right center;
      .descr__head {
        position: relative;
        padding-right: 78px;
          img {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
    }
    &__subtitle {
      padding-right: 80px;
      padding-top: 132px;
      text-align: right;
    }
    &__btn {
      text-align: center;
    }
  }

}

.travel-slider__info {
  display: flex;
  justify-content: space-around;

  &-item {
    min-height: 200px;
    margin-bottom: 66px;
    position: relative;
  }

  &-subtitle {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: right;
    color: rgba(#fff, .5);
    transform: rotate(-90deg);
    // transform-origin: left top;
    width: 200px;
    height: 0;
    position: absolute;
    top: 97px;
    left: -97px;
  }

  &-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 45px;
    padding-left: 40px;
    position: relative;

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-align: right;
      letter-spacing: 5.25px;
      color: rgba(#fff, .75);
      position: absolute;
      right: 0;
      bottom: -12px;
    }

  }

}

@import "media";